:root {
    background: lightgrey
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .favorites {
    padding: 30px 20px;
}

.navbar .favorites a {
    text-decoration: none;
    font-size: 20px;
}

.navbar .poke-title {
    padding: 10px 20px;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
}

.poke-card {
    height: 400px;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.poke-content {
    padding: 0px 40px;
}

.poke-name {
    padding: 20px 0;
}

.poke-name span {
    position: relative;
    top: 15px;
}

.heart-shape {
    top: -25px;
    right: -105px;
    position: relative;
}

.img-wrapper {
    padding-bottom: 80px;
    height: 75px;
}

.img-wrapper img {
    width: 200px;
    height: 150px;
}

.stats {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.stat-list {
    padding-left: 0;
}

.stats .value {
    text-align: left;
    border-bottom: 1px solid black;
}

.stats .stat-type,
.stats .stat-hp,
.stats .stat-attack {
    display: flex;
    justify-content: space-between;
}