:root {
    background: lightgrey
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.poke-header {
   display: flex;
}

.poke-header .nav-item {
    padding: 1rem;
    list-style: none;
    cursor: pointer;
}

.navbar .poke-title {
    padding: 10px 20px;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
}

.poke-card {
    height: 480px;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.poke-content {
    padding: 0px 40px;
}

.poke-name {
    padding: 20px 0;
}

.poke-name span {
    position: relative;
}

.heart-shape button {
        border-radius: 1rem;
        background: blanchedalmond;
        border: 1px solid lightgray;
        height: 30px;
        position: relative;
        left: 4px;
}

.img-wrapper {
    padding-bottom: 80px;
    height: 75px;
}

.img-wrapper img {
    width: 200px;
    height: 150px;
}

.stats {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.stat-list {
    padding-left: 0;
}

.stats .value {
    text-align: left;
    border-bottom: 1px solid black;
}

.stats .stat-type,
.stats .stat-hp,
.stats .stat-attack {
    display: flex;
    justify-content: space-between;
}

/* .hidden {
    opacity: 0;
} */

.favorites-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 3rem;
    transition: all 0.35s ease-in;
    visibility: hidden;
    opacity: 0;
    max-height: calc(200vh - 210px);
    overflow-y: auto;
}

.fav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#my-favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.favorites-page.is-visible {
    visibility: visible;
    opacity: 1;
}

[data-animation="zoomInOut"].favorites-page {
    transform: scale(0.2);
}

[data-animation="zoomInOut"].favorites-page.is-visible {
    transform: none;
}